.filter-controls {
  .pop-up-box {
    max-width: 1030px;
    padding: 0;
  }
  // .form-section {
    .form-fields {
      padding: $spacer-lg;
      display: inline-flex;
      flex-wrap: wrap;
      padding-right: 0;
      .cwf-field {
        // min-width: calc(33.3% - 24px);
        margin: $spacer-lg;
        
        .ember-power-select-trigger {
          width: 100%;
        }
        &.double-width {
          max-width: calc(66.6% - 15px);
        }
        &.full-width {
          max-width: 100%;
        }
      }
      .field-type-checkbox-group .field-controls {
        display: flex;
        border-width: 0;
        padding: 4px 0 0 0;
        .labelled-checkbox {
          margin: 0 20px 0 0;
        }
      }
    }
    .form-actions {
      background: #eee;
      display: flex;
      justify-content: flex-end;
      padding: $spacer-lg;
      .cwf-form-submit-button {
        margin-right: $spacer-lg;
      }
    }
  // }

  .filtering-results {
    display: inline-flex;
    align-items: center;
    // margin: -50px 0 0 15px !important
    // position: absolute;
    // bottom: 16px;
    // left: 15px;
    padding: $spacer-md;
    font-size: 1.2em;
    color: #777;
    svg.filters-active-icon {
      border-radius: 3px;
      background: $warning;
      display: inline-flex;
      padding: 8px;
      height: 36px;
      width: 36px;
      margin-right: 6px;
      fill: #fff;
    }
  }
}