.filtered-list-container {
  max-width: 100%;
}

.data-table-wrapper {
  --expand-collapse-column-outer-width: 40px;
  --id-column-outer-width: 60px;
  --sortable-icon-background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.86 69.95" class="icon-sortable" fill="%23fff"><polygon points="16.43 0 32.86 28.46 0 28.46 16.43 0"/><polygon points="16.43 69.95 32.86 41.49 0 41.49 16.43 69.95"/></svg>');
  overflow-x: auto;
  padding-left: 1px;
}

table.data-table {
  margin: 0 0 0px -1px;
  > tbody > tr.odd > td {
    background: #eee;
  }

  > tbody > tr > td,
  > thead > tr > th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    div {
      white-space: normal !important;
    }
    &.thin {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  > thead > tr > th {
    padding-top: var(--spacer-lg);
    padding-bottom: var(--spacer-lg);
    background-color: darken(var(--gray-light, 20%));
    border-color: darken(var(--gray-light, 35%));
    color: #fff;
    &.icon-header {
      line-height: 0;
      text-align: center;
      svg {
        margin: 0;
        height: 30px;
        padding: 0;
        width: auto;
        fill: #fff;
      }
    }
    &.sortable {
      background-image: var(--sortable-icon-background);
      background-repeat: no-repeat;
      background-position: right 6px center;
      background-size: auto 14px;
      padding-right: 24px;
    }
    &.sortable:hover {
      cursor: pointer;
      background-color: var(--gray-light-dark);
    }
    svg {
      fill: #fff;
    }
  }
  > tbody > tr > td {
    line-height: 140%;
    background: #fff;
    box-sizing: border-box;
    &.date-time {
      div {
        line-height: 120%;
      }
      .time {
        font-size: 0.9em;
        color: var(--gray-medium);
      }
    }

    tr.additional-info.collapsed {
      display: none;
    }

    &.additional-info-icon {
      vertical-align: top;
      padding: var(--spacer-lg) var(--$spacer-md) var(--$spacer-md);
      width: 30px;
      text-align: center;
    }

    &.additional-info-icon {
      fill: var(--primary);
      border-right-width: 0;
      svg {
        width: var(--spacer-lg);
      }
    }

    &.additional-info-content {
      border-left-width: 0;
      line-height: 180%;
    }

    &.data-cell-icon {
      padding-top: 0;
      padding-bottom: 0;
    }

    &.data-cell-icon svg {
      margin-right: var(--spacer-md);
      height: var(--spacer-lg * 1.25);
      padding: 0;
      display: inline-block;
      width: 20px;
      margin-bottom: -3px;
    }
  }

  .expand-collapse-button {
    color: #999;
    font-size: 1em;
    font-family: var(--main-font-family);
    font-weight: 700;
    svg {
      width: 24px;
      height: 10px;
      fill: #999;
      &.margin-right {
        margin-right: 8px;
      }
    }
    &:hover {
      color: #222;
      svg {
        fill: #222;
      }
    }
  }
}

.viewing-trashed-items h1 {
  color: #999;
}

.viewing-trashed-items .data-table {
  th {
    background: #999;
    border-color: #666;
  }

  td {
    background: #eee;
  }
}

// FOR TABLE HEADER FIXING

// .data-table-container-inner {
//   background: gray;
//   position: relative;
//   height: 900px;
//   width: 100%;
//   overflow-x: auto;
//   overflow-y: hidden;
// }

// .fixed {
//   th {
//     background: red !important;
//   }
// }

// .scrollable {
//   td {
//     background: pink !important;
//   }
//   height: 800px;
//   overflow-y: auto;
//   position: absolute;
//   top: 100px;
// }
// .scrollable table {
//   margin-top: -100px;
// }

// .scrollable th {
//   opacity: 0;
// }
