<button
  {{on "click" @toggleExpanded}}
  data-test-class={{this.dataTestClass}}
  class="expand-collapse-button btn-content"
  ...attributes
>
  <this.expandCollapseIcon
    class={{concat
      "fill-gray-light"
      (if this.expandCollapseText " margin-right")
    }}
  />
  {{this.expandCollapseText}}
</button>